.carousel-bootstrap-container {
  padding: 2rem 0;
}

.carousel-card-wrapper {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
}

.custom-carousel-icon {
  filter: invert(44%) sepia(13%) saturate(612%) hue-rotate(94deg) brightness(92%) contrast(89%);
}
