
.logo-img {
  height: 32px;
  transition: height 0.3s ease;
  padding: 0%;
}

@media (min-width: 768px) {
  .logo-img {
    height: 40px;
    padding: 0%;
  }
}

@media (min-width: 992px) {
  .logo-img {
    height: 48px;
    padding: 0%;
  }
}


.navbar {
    background-color: #EEEFE0 !important;
    padding: 1rem;
  }
  
  .navbar-brand {
    color: #819a91 !important;
    font-weight: bold;
  }
  
  .nav-link {
    color: #819a91 !important;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #a7c1a8 !important;
  }
  
  .dropdown-menu {
    background-color: #D1D8BE;
    border: none;
  }
  
  .dropdown-item {
    color: #4e5c57;
  }
  
  .dropdown-item:hover {
    background-color: #a7c1a8;
    color: #fff;
  }
  
  .btn-outline-success {
    border-color: #819a91;
    color: #819a91;
  }
  
  .btn-outline-success:hover {
    background-color: #a7c1a8;
    border-color: #a7c1a8;
    color: #fff;
  }
  
  .badge.bg-success {
    background-color: #a7c1a8 !important;
    font-size: 0.75rem;
  }
  